.choosePhoto
    md-button.md-raised.md-primary(ng-show='!isFinished' ng-repeat='face in choosePhotoOptions track by $index', ng-click='submit($event, face._id)')
        img(ng-src='{{ face.photo }}')
    md-button.md-raised.finished(ng-show='isFinished', ng-class="{'md-warn': status == 'wrong','md-success': status == 'correct'}")
        img(ng-src='{{ faceImg }}')