.face
    .row
        md-whiteframe.md-whiteframe-z3.info(ng-show="faces.length == 0" layout layout-align="center center")
            span(ng-show="!search") Use the search, Luke!
            span(ng-show="search.length < 3") Provide at least 3 characters.
            span(ng-show="search.length >= 3") Sorry dude, no results.
    .row(ng-show="faces.length > 0")
        .left-panel.col-md-4
            md-button.md-raised.md-button.md-default-theme(ng-repeat="face in faces" role="listitem" ng-class="{'md-primary': face === selectedFace}" ng-click="selectFace(face)")
                .img-boundingbox
                    img(ng-if="face.photos[0]" ng-src="images/faces/{{face.photos[0]}}")
                    img(ng-if="!face.photos[0]" gravatar-src="face.mail" gravatar-size="50")
                .text
                    h3 {{face.forename}} {{face.surname}}
                    h5 {{face.title}}
                    h5 {{face.team}}
        .right-panel.col-md-8
            face-details(face="selectedFace")