h2 {{ face.title }}
h3(ng-show='face.phoneNumber') Phone number: {{ face.phoneNumber }}
p
h4(ng-show='face.skills') Skills: {{ face.skills }}
h4(ng-show='face.projects') Projects: {{ face.projects }}
h4(ng-show='face.website')
    a(ng-href='{{face.website}}') {{ face.website }}
p(ng-show='face.about') About: {{face.about}}
