body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar img {
  height: 60px;
}
.container {
  margin-top: 80px;
}
.left-panel {
  text-align: right;
}
.left-panel img {
  max-width: 300px;
  max-height: 400px;
}
.right-panel {
  text-align: left;
}
.no-top-margin {
  margin-top: 0;
}
.chooseName button {
  margin: 0 10px 10px 0;
  width: 40%;
}
