body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar img {
  height: 60px;
}
.container {
  margin-top: 80px;
}
.left-panel {
  text-align: right;
}
.left-panel img {
  max-width: 300px;
  max-height: 400px;
}
.right-panel {
  text-align: left;
}
.no-top-margin {
  margin-top: 0;
}
.chooseName button,
.choosePhoto button {
  margin: 0 10px 10px 0;
  width: 40%;
}
.choosePhoto button {
  width: 45%;
}
.inputName input.col-lg-8 {
  width: 66.66666666%;
}
.inputName button.col-lg-4 {
  width: 33.33333333%;
  height: 66px;
  border-radius: 0 6px 6px 0;
}
