doctype html
html
    head
        title Faces
    body
        block content
            h1 DUPA
        script(src='jspm_packages/system.js')
        script(src='config.js')
        script(type='text/javascript').
            System.import('app/app').catch(console.error.bind(console));
