doctype html
html
    head
        title Faces
        link(rel="stylesheet" href="./jspm_packages/github/twbs/bootstrap@3.3.4/css/bootstrap.min.css")
        link(rel="stylesheet" href="./jspm_packages/github/angular/bower-material@0.10.0/angular-material.css")
        link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
    body(ng-controller="appController" layout="row" keypress-bindings)
        div(layout="column" layout-fill)
            md-toolbar
                .md-toolbar-tools
                    h3 Faces
                    md-button(ui-sref='quiz') Quiz
                    md-button(ui-sref='stats') Stats
                    md-button(ui-sref='face') Search
                    span(flex)
                    .input-group
                        input(type="text" class="form-control" placeholder="Search..." ng-model="search" ng-enter="applySearch(search)")
                        .input-group-btn
                            button.btn.btn-default(ng-click="applySearch(search)")
                                .glyphicon.glyphicon-search
            md-fab-toolbar.md-left(md-open='isOpen', count='count')
                md-fab-trigger.align-with-text
                    md-button.md-fab.md-primary(aria-label='menu')
                        md-icon(md-svg-src='images/icons/ic_tune_white_24px.svg')
                md-toolbar
                    md-fab-actions.md-toolbar-tools
                        .md-fab-action-item(ng-repeat="city in cities | orderBy:'-name'")
                            md-switch.md-primary(ng-model="city.selected" aria-label="city.name" md-no-ink="false") {{ city.name }}
            md-content
                div.container(ui-view)
        a.footer(href="https://github.com/purplecode/faces")
            span mjaworsk
            ng-md-icon(icon="github-circle" size="20")
        if isProduction
            script(src="app-prod.js")
        else
            script(src='jspm_packages/system.js')
            script(src='config.js')
            script(type='text/javascript').
                System.import('app/app').catch(console.error.bind(console));
