doctype html
html
    head
        title Faces
        link(rel="stylesheet" href="./jspm_packages/github/twbs/bootstrap@3.3.4/css/bootstrap.min.css")
    body(ng-controller="appController")
        block content
            div(ui-view)
        script(src='jspm_packages/system.js')
        script(src='config.js')
        script(type='text/javascript').
            System.import('app/app').catch(console.error.bind(console));
