div(ng-show='isFinished')
    button.btn.btn-success.pull-right(ng-click='action()', focus-on='isFinished')
        | Next person
        span(ng-show='timeout > 0') ({{ timeout }})
        span.glyphicon.glyphicon-chevron-right