form.face-form(role='form', ng-submit='submit()')

    h1.no-top-margin(ng-show="isFinished", ng-class="{'text-danger': status == 'wrong', 'text-warning': status == 'partial'}")
        | {{ face.forename }} {{ face.surname }}

    md-input-container(ng-hide="isFinished")
        label Enter name and/or surname
        input(name="guess" ng-model="guess" focus-on='!isFinished')
        div(ng-messages="guess.$error" ng-show="hint")
            span(ng-message="hint") {{ hint }}
    md-button.md-primary.md-raised.pull-right(ng-hide="isFinished") Check!