.quiz {

  margin-top: 10vh;

  .right-panel {
    margin-top: 15vh;
  }

  img {
    left: 50%;
    margin-left: -100%;
    position: relative;
    width: auto;
    height: 100%;
  }

  input-name-question, choose-name-question {
    width: 70%;
    margin: 15%;
    height: 35vh;
    text-align: center;
    overflow: hidden;
    text-align: center;
    display: inline-block;
  }

  choose-photo-question {
    button.finished {
      margin: 26%;
    }
    button {
      width: 48%;
      margin: 1%;
      height: 30vh;
      padding: 10px;
      text-align: center;
      overflow: hidden;
      text-align: center;
    }
  }

  choose-name-answer {
    button {
      width: 48%;
      margin: 1%;
    }
  }

  next-question {
    margin-top: 3em;
  }

}