.row
    .col-lg-10.col-lg-offset-1
      .panel-body
        .row.quiz
          .left-panel.col-md-6
            div(ng-show="guessMode=='choosePhoto'")
              choose-photo-question
            div(ng-show="guessMode=='chooseName'")
              choose-name-question
            div(ng-show="guessMode=='inputName'")
              input-name-question

          .right-panel.col-md-6

            div(ng-show="guessMode=='choosePhoto'")
              choose-photo-answer
            div(ng-show="guessMode=='chooseName'")
              choose-name-answer
            div(ng-show="guessMode=='inputName'")
              input-name-answer

            face-info(face="face")

            next-question(is-finished="isFinished", action="next()" timeout="nextTimeout")