.container
  .row
    .col-lg-10.col-lg-offset-1
      .panel-body
        .row

          .left-panel.col-md-4
            div(ng-show="guessMode=='choosePhoto'")
              choose-photo-question
            div(ng-show="guessMode=='chooseName'")
              choose-name-question
            div(ng-show="guessMode=='inputName'")
              input-name-question

          .right-panel.col-md-8
            next-question(is-finished="isFinished", action="next()" timeout="nextTimeout")

            div(ng-show="guessMode=='choosePhoto'")
              choose-photo-answer
            div(ng-show="guessMode=='chooseName'")
              choose-name-answer
            div(ng-show="guessMode=='inputName'")
              input-name-answer

            h2 {{ face.title }}
            h3(ng-show='face.phoneNumber') Phone number: {{ face.phoneNumber }}
            p
            h4(ng-show='face.skills') Skills: {{ face.skills }}
            h4(ng-show='face.projects') Projects: {{ face.projects }}
            h4(ng-show='face.website')
              a(ng-href='{{face.website}}') {{ face.website }}
            p(ng-show='face.about') About: {{face.about}}
      