.quiz(layout="row")
  .left-panel(flex="50")
    div(ng-show="guessMode=='choosePhoto'")
      choose-photo-question
    div(ng-show="guessMode=='chooseName'")
      choose-name-question
    div(ng-show="guessMode=='inputName'")
      input-name-question
  div(flex="5")
  .right-panel(flex="45")
    .answers.row
        div(ng-show="guessMode=='choosePhoto'")
          choose-photo-answer
        div(ng-show="guessMode=='chooseName'")
          choose-name-answer
        div(ng-show="guessMode=='inputName'")
          input-name-answer

    face-info(ng-show="isFinished" face="face")

    next-question.pull-right(is-finished="isFinished", action="next()" timeout="nextTimeout" status="status")