<!DOCTYPE html>
<div>

	<div class="row" >

		<div class="container left-panel col-md-4 col-md-offset-2">
			<img class="img-rounded" ng-src="[[ faceImg ]]" >
		</div>


		<div class="right-panel col-md-4">	
			
			<div class="alert"
				 ng-class="{
				    'alert-info': status == 'next',
					'alert-success': status == 'correct',
					'alert-danger': status == 'wrong',
					'alert-warning': status == 'partial'}">
				[[ message ]]
			</div>

			<form class="face-form" role="form" ng-submit="submit()">
			  	<div class="input-group">
      				<input type="text" class="form-control" placeholder="Name and/or surname" ng-model="guess", name="guess", ng-minlength="1" required>
      				<span class="input-group-btn">
        				<button class="btn btn-info" type="submit" id="submit">[[ buttonText ]]</button>
      				</span>
    			</div>
			</form>

	</div>

</div>