<!DOCTYPE html>
<div class="container">
	<div class="row" >

    <div class="col-lg-10 col-lg-offset-1">
      <div class="panel-body">
        <div class="row">

          <div class="left-panel col-md-4">
            <img class="img-rounded" ng-src="[[ faceImg ]]" >
          </div>

          <div class="right-panel col-md-8">  
            <div ng-show="isFinished">
              <button class="btn btn-success pull-right" ng-click="next()" focus-on="isFinished">
                Next person
                <span ng-show="nextTimeout>0">
                  ([[nextTimeout]])
                </span>
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
            </div>
            <div ng-show="guessMode=='name'">
              <form class="face-form" role="form" ng-submit="submit()">
                  <div class="form-group" ng-class="{
                  'has-success': status == 'correct',
                  'has-error': status == 'wrong',
                  'has-warning': status == 'partial'}">
                        <input ng-hide="isFinished" 
                          placeholder="Name and/or surname"
                          type="text" class="input-lg form-control"  
                          ng-model="guess" name="guess" 
                          ng-minlength="5" focus-on="!isFinished">

                        <h1 ng-show="isFinished" class="no-top-margin"
                          ng-class="{
                            'text-danger': status == 'wrong',
                            'text-warning': status == 'partial'
                          }">
                          [[ face.forename ]] [[ face.surname ]]
                        </h1>
                        <span class="help-block">
                          [[ hint ]]
                        </span>
                  </div>
              </form>
            </div>
            <div ng-show="guessMode!='name'">
              <h1 class="no-top-margin">[[ face.forename ]] [[ face.surname ]]</h1>
            </div>

            <h2>[[ face.title ]]</h2>
            <p></p>
            <h3 ng-show="face.phoneNumber">Phone number: [[ face.phoneNumber ]]</h3>
            <h3 ng-show="face.website"><a ng-href="face.website">[[ face.website ]]</a></h3>
            <p ng-show="face.about">About: [[face.about]]</p>
 
        </div>

        </div>
      </div>
    </div>
</div>