<!DOCTYPE html>
<div class="container">
	<div class="row" >

    <div class="col-lg-10 col-lg-offset-1">
      <div class="panel-body">
        <div class="row">

          <div class="left-panel col-md-4">
            <div ng-show="guessMode=='choosePhoto'">
              <div class="choosePhoto" ng-show="!isFinished"> 
                <button class="btn btn-info" ng-repeat="face in choosePhotoOptions" ng-click="submit($event, face._id)">
                  <img class="img-rounded" height="92" ng-src="[[ face.photo ]]" />
                </button>
              </div>
              <button ng-show="isFinished" class="btn" ng-class="{
              'btn-danger': status == 'wrong',
              'btn-success': status == 'correct'
            }">
                <img class="img-rounded" ng-src="[[ faceImg ]]" >
              </button>
            </div>
            <div ng-show="guessMode!='choosePhoto'">
              <img class="img-rounded" ng-src="[[ faceImg ]]" >
            </div>
          </div>

          <div class="right-panel col-md-8">  
            <div ng-show="isFinished">
              <button class="btn btn-success pull-right" ng-click="next()" focus-on="isFinished">
                Next person
                <span ng-show="nextTimeout>0">
                  ([[nextTimeout]])
                </span>
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
            </div>
            <form class="face-form" role="form" ng-submit="submit()" ng-show="guessMode.indexOf('Name') > 0">
                  <div class="form-group" ng-class="{
                  'has-success': status == 'correct',
                  'has-error': status == 'wrong',
                  'has-warning': status == 'partial'}">
                        <!-- Input option -->
                        <div ng-hide="isFinished">
                          <div ng-show="guessMode=='inputName'" class="input-group input-group-lg inputName col-lg-12">
                              <input
                                placeholder="Name and/or surname"
                                type="text" class="input-lg form-control col-lg-8"  
                                ng-model="guess" name="guess" 
                                ng-minlength="5" focus-on="!isFinished">
                              <button class="btn btn-lg btn-info col-lg-4">Check!</button>
                          </div>
                          <div ng-show="guessMode=='chooseName'" class="chooseName">
                            <button class="btn btn-info" ng-repeat="option in chooseNameOptions" ng-click="submit($event, option)">
                              [[ option ]]
                            </buton>
                          </div>
                        </div>

                        <!-- Display correct option -->
                        <h1 ng-show="isFinished &amp;&amp; guessMode.indexOf('Name') > 0" class="no-top-margin"
                          ng-class="{
                            'text-danger': status == 'wrong',
                            'text-warning': status == 'partial'
                          }">
                          [[ face.forename ]] [[ face.surname ]]
                        </h1>
                        <span class="help-block">
                          [[ hint ]]
                        </span>
                  </div>
            </form>
            <div ng-show="guessMode.indexOf('Name') == -1">
              <h1 class="no-top-margin">[[ face.forename ]] [[ face.surname ]]</h1>
            </div>

            <h2>[[ face.title ]]</h2>
            <h3 ng-show="face.phoneNumber">Phone number: [[ face.phoneNumber ]]</h3>
            <p></p>
            <h4 ng-show="face.skills">Skills: [[ face.skills ]]</h4>
            <h4 ng-show="face.projects">Projects: [[ face.projects ]]</h4>
            <h4 ng-show="face.website"><a ng-href="[[face.website]]">[[ face.website ]]</a></h4>
            <p ng-show="face.about">About: [[face.about]]</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>