<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <a class="nav pull-left" href="https://github.com/purplecode"><img src="images/purplecode.png"/></a>
  <div class="navbar-header">
    <a class="navbar-brand" href="#">{{ appName }}</a>
  </div>
</nav>
