body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.left-panel
  margin-top: 15px
  text-align: center
  img
    height: 400px

.right-panel
    margin-top: 15px
    text-align: center
	.face-form
	    button
	    	width: 70px
