body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.navbar
  img
     height: 50px

.left-panel
  margin-top: 15px
  text-align: center
  img
    max-width: 400px;
    max-height: 500px;

.right-panel
    margin-top: 15px
    text-align: center
	.face-form
	    button
	    	width: 70px
